# ---- Terraform ----
**/.terraform/*
*.tfstate
*.tfstate.*
tfplan
*.tfplan
crash.log
crash.*.log
*.tfvars
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# ---- Node ----
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*
!.env.example
coverage/
dist/
build/
*.zip

# ---- OS / editor ----
.DS_Store
.vscode/
.idea/
*.swp
